{% extends 'base.html.twig' %}

{% block title 'Sortir.com' %}

{% block body %}

	<div class="container mt-4">
		<img src="{{asset('./images/home/nature-banner.jpg')}}" style="width:100%; heigth : auto;"/>
		<div class="jumbotron mt-4"></div>

	</div>
{% endblock %}
