{% extends 'base.html.twig' %}

{% block title 'Sortir.com' %}

{% block body %}

	<div class="container mt-4">
		{% if app.user %}
			<p style="text-align:center;">
				Bienvenue
				<b>{{ user.username }}</b>

				{% if user.imageName  %}
					<img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="" style="width: 200px; height: 200px; border-radius : 50%"/>
				{% else %}
					<img src="/images/users_profile/61013938ab4c0739080988.jpg" alt="Empty profile picture" style="width: 200px; height: 200px; border-radius : 50%"/>

				{% endif %}
			</p>
		{% endif %}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success" style="text-align : center;">
				{{message}}
			</div>
		{% endfor %}
	</div>
	<img src="{{asset('./images/home/nature-banner.jpg')}}" style="width:100%; heigth : auto;"/>
	<div class="jumbotron mt-4"></div>

{% endblock %}
